<head>

<meta charset=”UTF-8”>
<meta name=”viewport” content=”width=device-width, initial-scale=1.0”>
<title>AluraBooks</title>
<link rel=”stylesheet” href=”styles.css”>
<link rel=”preconnect” href=”https://fonts.googleapis.com”>
<link rel=”preconnect” href=”https://fonts.gstatic.com” crossorigin>
<link href=”https://fonts.googleapis.com/

css2?family=Poppins:wght@300;400;500;700&display=swap” rel=”stylesheet”>

<link rel=”stylesheet” href=”reset.css”>
</head>

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: “Poppins”;  }

    body {
        background-color: var(--cor-de-fundo);
        font-family: var(--fonte-principal);
        font-size: 16px;
        font-weight: 400; }
        .lista-menu__titulo {
            color: var(--laranja);
            font-weight: 700;
            }
:root {
--cor-de-fundo: #EBECEE;
--branco: #FFFFFF;
--laranja: #EB9B00;
--azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}
:root {
--cor-de-fundo: #EBECEE;
--branco: #FFFFFF;
--laranja: #EB9B00;
}
